[user]
[color]
	ui = true
[merge]
  summary = true
  verbosity = 1
  tool = mvimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[mergetool "mvimdiff"]
  cmd="mvim -c 'Gdiff' $MERGED"
  keepbackup=false
[push]
  default = simple
[diff]
  ; algorithm = patience
  renames = copies
  ; compactionHeuristic = true
[core]
	filemode = false
  autocrlf = input
  trustctime = false
	pager = diff-so-fancy | less --tabs=4 -RFX
  untrackedCache = true
[rerere]
	enabled = false
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
	log = diff-so-fancy | less --tabs=4 -RFX
[rebase]
  autosquash = true
[init]
[commit]
  gpgsign = false
[gpg]
  program = gpg2
[diff-so-fancy]
	stripLeadingSymbols = false
[interactive]
	diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
