[user]
[color]
	ui = true
[merge]
    summary = true
    verbosity = 1
    tool = mvimdiff
    ; conflictstyle = diff3
[mergetool]
    prompt = false
[mergetool "mvimdiff"]
    cmd="mvim -c 'Gdiff' $MERGED"
    keepbackup=false
[push]
    default = simple
[diff]
  ; algorithm = patience
    renames = copies
  ; compactionHeuristic = true
[core]
	filemode = false
    autocrlf = input
    trustctime = false
    pager = delta
    untrackedCache = true
    hooksPath = /Users/arnold/.git/hooks
[rerere]
	enabled = false
; [pager]
; 	diff = diff-so-fancy | less --tabs=4 -RFX
; 	show = diff-so-fancy | less --tabs=4 -RFX
; 	log = diff-so-fancy | less --tabs=4 -RFX
[rebase]
  autosquash = true
[init]
[commit]
  gpgsign = false
[gpg]
  program = gpg2
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true
